@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}

main{
  overflow: scroll;
  width: 100vw;
}

canvas {
  display: block;
}

#hoveredSet {
  position: absolute; 
  width: 400px; 
  height: auto; 
  background-color: rgba(164, 199, 255, 0.8); 
  border-radius: 8px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  pointer-events: none; 
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: all 0.1s;
}

.hovered-color{
  display: flex; 
  justify-content: space-around; 
  margin-top: 20px;
}
.hovered-set-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hovered-square {
  position: relative; 
  width: 200px; 
  height: 200px; 
  margin: 20px auto;
}
.hovered-set-square {
  position: absolute;
}

.hovered-set-gradient {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

#showcase{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 87vh;
  font-family: Outfit, sans-serif; 
}

h1{
  font-size: 96px;
}
h2{
  font-size: 48px
}

#load {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
}

#load img{
  height: 100px;
  width: auto;
}

#arrow, #arrow a{
  margin-top: 20vh;
  width: 200px;
  transition: 0.5s;
}






/*
CSS @property and the New Style
https://ryanmulligan.dev/blog/css-property-new-style/
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap");

:root {
  --shiny-cta-bg: #000000;
  --shiny-cta-bg-subtle: #1a1818;
  --shiny-cta-fg: #ffffff;
  --shiny-cta-highlight: blue;
  --shiny-cta-highlight-subtle: #8484ff;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-angle-offset {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --gradient-percent {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}

@property --gradient-shine {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

.shiny-cta {
  --animation: gradient-angle linear infinite;
  --duration: 3s;
  --shadow-size: 2px;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline-offset: 4px;
  padding: 1.25rem 2.5rem;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 360px;
  color: var(--shiny-cta-fg);
  background: linear-gradient(var(--shiny-cta-bg), var(--shiny-cta-bg))
      padding-box,
    conic-gradient(
        from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
        transparent,
        var(--shiny-cta-highlight) var(--gradient-percent),
        var(--gradient-shine) calc(var(--gradient-percent) * 2),
        var(--shiny-cta-highlight) calc(var(--gradient-percent) * 3),
        transparent calc(var(--gradient-percent) * 4)
      )
      border-box;
  box-shadow: inset 0 0 0 1px var(--shiny-cta-bg-subtle);

  &::before,
  &::after,
  span::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    translate: -50% -50%;
    z-index: -1;
  }

  &:active {
    translate: 0 1px;
  }
}

/* Dots pattern */
.shiny-cta::before {
  --size: calc(100% - var(--shadow-size) * 3);
  --position: 2px;
  --space: calc(var(--position) * 2);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
      circle at var(--position) var(--position),
      white calc(var(--position) / 4),
      transparent 0
    )
    padding-box;
  background-size: var(--space) var(--space);
  background-repeat: space;
  -webkit-mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
          mask-image: conic-gradient(
    from calc(var(--gradient-angle) + 45deg),
    black,
    transparent 10% 90%,
    black
  );
  border-radius: inherit;
  opacity: 0.4;
  z-index: -1;
}

/* Inner shimmer */
.shiny-cta::after {
  --animation: shimmer linear infinite;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(
    -50deg,
    transparent,
    var(--shiny-cta-highlight),
    transparent
  );
  -webkit-mask-image: radial-gradient(circle at bottom, transparent 40%, black);
          mask-image: radial-gradient(circle at bottom, transparent 40%, black);
  opacity: 0.6;
}

.shiny-cta span {
  z-index: 1;

  &::before {
    --size: calc(100% + 1rem);
    width: var(--size);
    height: var(--size);
    box-shadow: inset 0 -1ex 2rem 4px var(--shiny-cta-highlight);
    opacity: 0;
  }
}

/* Animate */
.shiny-cta {
  --transition: 800ms cubic-bezier(0.25, 1, 0.5, 1);
  transition: var(--transition);
  transition-property: --gradient-angle-offset, --gradient-percent,
    --gradient-shine;

  &,
  &::before,
  &::after {
    animation: var(--animation) var(--duration),
      var(--animation) calc(var(--duration) / 0.4) reverse paused;
    animation-composition: add;
  }

  span::before {
    transition: opacity var(--transition);
    -webkit-animation: calc(var(--duration) * 1.5) breathe linear infinite;
            animation: calc(var(--duration) * 1.5) breathe linear infinite;
  }
}

.shiny-cta:is(:hover, :focus-visible) {
  --gradient-percent: 20%;
  --gradient-angle-offset: 95deg;
  --gradient-shine: var(--shiny-cta-highlight-subtle);

  &,
  &::before,
  &::after {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }

  span::before {
    opacity: 1;
  }
}

@-webkit-keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 360deg;
  }
}

@-webkit-keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@keyframes shimmer {
  to {
    rotate: 360deg;
  }
}

@-webkit-keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

@keyframes breathe {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}

.inactive {
  display: none;
}

canvas {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


#mainContainer {
  overflow: hidden; height: 100vh; border-top-left-radius: 7vw; border-top-right-radius: 7vw;
  transition: all 1s;
}

.cool-borders {
  border-top-left-radius: 0px !important; 
  border-top-right-radius: 0px !important;
  overflow: scroll;
}

.no-select {
  user-select: none;
}

#showcase {
  color:white; background: rgb(0,3,37);
  background: linear-gradient(164deg, rgba(0,3,37,1) 0%, rgba(43,0,45,1) 50%, rgba(37,22,0,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content:space-evenly
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh
}

button {
  margin-top: -5vh;
  font-size: 1.5rem !important;
}

h1 {
  font-size: 6rem;
  font-weight: 700
}

h2 {
  font-size: 2rem;
  font-weight: 600
}

p {
  width: 60vw; 
  text-align: justify;
  text-justify: inter-word; 
  font-size: 1.8rem;
}


@media (max-width: 650px) {
  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 4vw;
  }

  button {
    font-size: 1rem !important;
  }

  #showcase {
    height: 70vh
  }
}